<div class="d-flex justify-content-center">
  <div class="bg-circle-pink"></div>

  <button
    (click)="getFeatured()"
    class="get-featured btn btn-primary montserrat"
  >
    Get Featured
  </button>
</div>
<p class="col-12 d-flex justify-content-center montserrat margin-top-10">
  <span style="font-weight: bold;">Share </span> your <span style="font-weight: bold;"> work </span> with us
</p>
<h2 class="portfolio montserrat semi-bold col-12 col-sm-6">
  Start building your portfolio today !
</h2>
<div class="row info-box">
  <div class="inputGroup col-12 col-sm-3">
    <!-- <input type="text" required="" autocomplete="off" />
    <label for="name">Name</label> -->
    <div class="inputbox">
      <input required="required" type="text" />
      <span>Name</span>
      <i></i>
    </div>
  </div>

  <div class="inputGroup col-12 col-sm-6">
    <div class="inputbox">
      <input autocomplete="off" required="required" type="text" />
      <span>Email</span>
      <i></i>
    </div>
    <!-- <input type="text" required="" autocomplete="off" />
    <label for="name">Email</label> -->
  </div>
  <div class="col-12 col-sm-3">
    <button
      (click)="getStarted()"
      class="get-started btn btn-primary montserrat"
    >
      Get Started
    </button>
  </div>
</div>
