@import "../hero-section/hero-section.component.scss";

.get-featured {
  padding: 16px 18px;
  font-size: 28px;
  font-weight: 700;
}
h2 {
  margin-top: 12vh;
  font-size: 2.4rem;
}


.bg-circle-pink {
  position: absolute;
  z-index: -1;
  width: 400px;
  height: 550px;
  left: 0;
  transform: translate(-40%, 10%);
  background: linear-gradient(#ff7efa 130%, rgba(36, 0, 255, 0) 76.36%);
  filter: blur(125px);
}
.margin-top-10{
  margin-top: 10px;
}

@media only screen and (max-width: 600px) {
  .get-featured {
    font-size: 20px;
  }
}