<div class="info-section">
  <div class="row">
    <div class="col-12 info-left" [class.info-active]="isVisible">
      <div class="content">
        <div class="container mb-5">
          <div class="row">
            <div class="col m-inline-24">
              <p class="heading montserrat bold">1. Brief</p>
              <p class="sub-heading montserrat light">
                Thoroughly Read the brief you receive on your Email
              </p>
            </div>
            <div class="col">
              <img src="/assets/Tasks.svg" />
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 info-right" [class.info-active]="isVisible">
      <div class="content">
        <div class="container mb-5">
          <div class="row">
            <div class="col">
              <img src="/assets/Student-reading-a-book-V2.svg" />
            </div>
            <div class="col">
              <p class="heading montserrat bold">2. Develop</p>
              <p class="sub-heading montserrat light">
                Use your Favourite language to develop a Solution
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 info-left" [class.info-active]="isVisible">
      <div class="content">
        <div class="container mb-5">
          <div class="row">
            <div class="col m-inline-24">
              <p class="heading montserrat bold">3. Share</p>
              <p class="sub-heading montserrat light">
                Show it to rest of the World and receive Feedback
              </p>
            </div>
            <div class="col">
              <img src="/assets/Share-link.svg" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="hashtag-box">
      <p class="hashtag montserrat bold">#dailyfrontend</p>
      <p class="hashtag-sub montserrat light">
        Share your work on Twitter, Instagram and GitHub with this hashtag
      </p>
    </div>
  </div>
</div>
