.info-section {
  margin-top: 220px;
}

.heading {
  font-size: 60px;
  color: #0055d3;
}

.sub-heading {
  font-size: 35px;
  color: #000000;
  line-height: 73px;
  margin-top: 0px;
}

.hashtag-box {
  margin-top: 170px;
  .hashtag {
    font-size: 64px;
    line-height: 78px;
    color: #0055d3;
  }

  .hashtag-sub {
    width: 50%;
    margin-top: 6px;
    font-size: 40px;
    line-height: 120.68%;
    color: #000000;
  }
}
