<div class="info-section">
  <div class="row">
    <div class="col-12 col-sm-4 info" [class.info-active]="isVisible">
      <p class="heading montserrat bold">1. Brief</p>
      <p class="sub-heading montserrat light">Thoroughly Read the brief you receive on your Email</p>
    </div>

    <div class="col-12 col-sm-4 info" [class.info-active]="isVisible">
      <p class="heading montserrat bold">2. Develop</p>
      <p class="sub-heading montserrat light">Use your Favourite language to develop a Solution</p>
    </div>
    <div class="col-12 col-sm-4 info" [class.info-active]="isVisible">
      <p class="heading montserrat bold">3. Share</p>
      <p class="sub-heading montserrat light">Show it to rest of the World and receive Feedback</p>
    </div>
  </div>

  <div class="hashtag-box">
    <p class="hashtag montserrat bold">#dailyfrontend</p>
    <p class="hashtag-sub montserrat light">
        Share your work on Twitter, Instagram and GitHub with this hashtag
    </p>
  </div>
</div>
