<div class="card p-3 text-center px-4">
  <div class="user-image">
    <img src="assets/billgates.jpg" alt="referral-image" class="rounded-circle" width="120">
  </div>
  <div class="user-content">
    <h5 class="montserrat semi-bold">Bill Gates</h5>
    <p class="montserrat">
      <span class="quotation-mark">“</span>
      Daily Frontend helped me
      improve my development 
      skills by being consistent. Its like they say 
      ‘practice makes it perfect’. 
      I recommend Daily Front-
      End Challenge to all of you.
      <span class="quotation-mark">”</span>
    </p>
  </div>
</div>

