.montserrat {
  font-family: "Montserrat";
  font-weight: 400;
}

.montserrat.light {
  font-family: "Montserrat";
  font-weight: 300;
}

.montserrat.semi-bold {
  font-family: "Montserrat";
  font-weight: 600;
}

.montserrat.bold {
  font-family: "Montserrat";
  font-weight: 600;
}
