<div class="container">
  <div class="main-section">
    <div class="row">
      <div class="col-6">
        <p class="top-heading montserrat semi-bold">Daily Front End</p>
      </div>
      <div class="col-6 right">
        <p class="montserrat side-heading light">Become a better Developer</p>
        <p class="montserrat side-sub">
          A 50 day series of challenges , inspirations and free resources to
          make you job ready as a Front-End Developer !
        </p>
      </div>
    </div>
  </div>
</div>
