<div class="bg-pan-right main-section">
  <div class="row">
    <div class="col-12 col-sm-6">
      <p class="top-heading montserrat semi-bold">Daily</p>
      <p class="top-heading montserrat semi-bold mt-0">Front End</p>
    </div>
    <div class="col-12 col-sm-6 right">
      <p class="montserrat side-heading light">Become a better Developer</p>
      <p class="montserrat side-sub">
        A 50 day series of
        <span class="montserrat semi-bold"
          >challenges , inspirations and free resources</span
        >
        to make you job ready as a
        <span class="montserrat semi-bold">Front-End Developer !</span>
      </p>
    </div>
  </div>

  <div class="row info-box">
    <div class="inputGroup col-12 col-sm-3">
      <input type="text" required="" autocomplete="off" />
      <label for="name">Name</label>
    </div>

    <div class="inputGroup col-12 col-sm-6">
      <input type="text" required="" autocomplete="off" />
      <label for="name">Name</label>
    </div>
    <div class="col-12 col-sm-3">
      <button
        (click)="getStarted()"
        class="get-started btn btn-primary montserrat"
      >
        Get Started
      </button>
    </div>
  </div>
</div>
