.main-section {
  margin-top: 180px;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .main-section {
    margin-top: 16px;
  }
}


.top-heading {
  font-size: 80px;
}

.right {
  .side-heading {
    font-size: 60px;
  }

  .side-sub {
    font-size: 24px;
  }
}

.info-box {
  margin-top: 150px;
  width: 100%;

  .input-box {
    height: 80px;

    input {
      font-size: 35px;
      border: 3px solid #0055d3;
      height: 100%;
      font-size: 35px;
    }
  }

  .get-started {
    height: 80px;
    width: 270px;
    font-size: 35px;
    font-weight: 700;
  }
}

::placeholder { 
  color: #0055d3;
  opacity: 1; 
}
