<div class="referrals">
  <div class="bg-circle-blue"></div>

<!-- <div class="container mt-5 mb-5"> -->
  <div class="swiper">
    <div class="swiper-wrapper">
      <!-- <div class="swiper-slide"> -->
        <referral-card></referral-card>
      <!-- </div>
      <div class="swiper-slide"> -->
        <referral-card></referral-card>
      <!-- </div>
      <div class="swiper-slide"> -->
        <referral-card></referral-card>
      <!-- </div> -->
    </div>
  <div class="swiper-pagination"></div>
  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>
  <div class="swiper-scrollbar"></div>
  </div>
</div>
<!-- </div> -->