.referrals {
  margin-top: 200px;
}
.animate{
  opacity: 0;
  transform: translateY(60%);
  transition: all 1.5s ease-in-out
}
.animate-active{
  opacity: 1;
  transform: translateY(0);
} 

.swiper-wrapper{
  height: 80vh;
  justify-content: space-around;
}