<div class="referrals animate" [class.animate-active]="isVisible" >

<!-- <div class="container mt-5 mb-5"> -->
  <div class="swiper"
       (swiper)="onSwiper()"
       (slideChange)="onSlideChange()">
    <div class="swiper-wrapper">
      <!-- <div class="swiper-slide"> -->
        <referral-card></referral-card>
      <!-- </div>
      <div class="swiper-slide"> -->
        <referral-card></referral-card>
      <!-- </div>
      <div class="swiper-slide"> -->
        <referral-card></referral-card>
      <!-- </div> -->
    </div>
  <div class="swiper-pagination"></div>
  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>
  <div class="swiper-scrollbar"></div>
  </div>
</div>
<!-- </div> -->