<div class="flex-container">
  <div class="content">
    <div class="container">
      <div class="row">
        <div class="col" *ngIf="!ismedium">
          <img src="/assets/Software-Developer.svg">
        </div>
        <div class="col">
          <p class="montserrat text">
            Experience the transforming impact of <span style="font-weight: bold;">Project-Based Learning.</span> 
            According to research it improves critical thinking, <span style="font-weight: bold;">problem-solving,</span>
            and retention by 75%. Our carefully designed <span style="font-weight: bold;">Challenges</span> 
            will help you gain real-world experience while working on 
            <span style="font-weight: bold;">exciting projects.</span> Are you ready to unleash your creativity, gain 
            vital experience, construct an <span style="font-weight: bold;">Amazing Portfolio,</span> and launch a successful
            career in the exciting world of <span style="font-weight: bold;">Web Development?</span>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
