<div class="flex-container">
  <div class="content">
    <div class="container mb-5">
      <div class="row">
        <div class="col">
          <img src="/assets/Software-Developer.svg">
        </div>
        <div class="col">
          <p class="montserrat text">
            Experience the transformative power of <span style="font-weight: bold;">Project-Based Learning</span> with our Challenges!
            Through hands-on projects, you'll acquire practical skills that align with industry demands.
            Research shows that project-based learning boosts retention rates by 75% and enhances critical
            thinking and <span style="font-weight: bold;">Problem-Solving Abilities.</span> Our carefully crafted Challenges ensures that you'll develop real-world expertise while working on engaging projects tailored to the latest trends.
            So are you ready to unleash your creativity, gain valuable experience, build an impressive portfolio and pave the way for a successful career in the dynamic world of web development.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
