<form>
  <div class="form-group">
    <div class="input-group">
      <input required="" type="text" name="text" autocomplete="off" class="input montserrat semi-bold">
      <label class="user-label">Name</label>
    </div>
    <div class="input-group">
      <input required="" type="text" name="text" autocomplete="off" class="input montserrat semi-bold">
      <label class="user-label">Email</label>
    </div>
    <div class="input-group">
      <input required="" type="text" name="text" autocomplete="off" class="input montserrat semi-bold">
      <label class="user-label">Link to Work(Github)</label>
    </div>
    <div class="input-group">
      <input required="" type="text" name="text" autocomplete="off" class="input montserrat semi-bold">
      <label class="user-label">Message</label>
    </div>
  </div>
</form>