form{
  display: grid;
  align-items: center;
  padding: 0 10%;
  .form-group {
    margin: 12px;
    label{
      color: #0055d3;
    }
    textarea , input{
      border: 2px solid #0055d3;
    }
  } 
  .btn{
    background-color: #0055d3;
    color: #fff;
    margin: 14px 12px;
  }
}