/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import "./node_modules/bootstrap/scss/bootstrap";

/* Importing Datepicker SCSS file. */
@import "node_modules/ngx-bootstrap/datepicker/bs-datepicker";

@import "app/theme/fonts.scss";

.blue-gradient-1 {
  background: linear-gradient(
    171.48deg,
    #117fb7 6.51%,
    rgba(36, 0, 255, 0) 110.64%
  );
  filter: blur(125px);
}

.pink-gradient-1 {
  background: linear-gradient(
    181.21deg,
    #ff7efa 1.03%,
    rgba(255, 0, 184, 0.4) 86.22%
  );
  filter: blur(125px);
  transform: rotate(-74.62deg);
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  width: 10px;
  background: transparent !important;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 30px;
  background: #117fb7;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #2e6885;
}

@media only screen and (max-width: 770px) {
  ::-webkit-scrollbar {
    display: none;
  }
}
